/*---Default---*/
.container{
    max-width: 1024px;
    margin: 0 auto;
    
}
.box{
    display: flex;
    max-width: 1024px;
    height: 220px;
    margin-bottom: 16px;
    border: 1px black solid;
}
img{
    width: 353px;
    height: 188px;
    border-radius: 4px;
    margin: 16px 0px 16px 16px;
}
.info{
    margin: 12px 21px 16px 21px;
}
h2{
font-size: 24px;
line-height: 32px;
font-weight: 600;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.botao{
    display: flex;
    width: 100%;
    padding: 12px 0px;
    background-color: #2D68FE;
    text-decoration: none;
    justify-content: center;
    color: white;
    margin: 10px 0;
    border-radius: 4px;
}
.data{
    text-align: center;
}
@media screen and (max-width:1024px) {
    .container{
        max-width: 360px;
        height: 458px;
    }
    .box{
        width: 360px;
        height: 458px;
        flex-direction: column;
    }
    img{
        width: 328px;
        height: 194px;
        
    }
    .box .info{
        width: 328px;
        height: 402px;
    }
    .botao{
        margin: 10px 0;
        border-radius: 4px;
    }
}
